version: "3.9"

services:
  cats-dogs-api:
    image: ghcr.io/kritijais/mlops_assignment2_image_classification/cats-dogs-inference:latest
    container_name: cats-dogs-inference
    ports:
      - "8000:8000"
    restart: always
    environment:
      - PYTHONUNBUFFERED=1
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 5s
      retries: 3
