global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "image-classification-api"
    scheme: https
    metrics_path: /metrics
    static_configs:
      - targets:
          - image-classification-api-latest-ib1p.onrender.com